.todo-list {
    width: 100%;
    padding: 0px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0px;
}

details {
    background-color: var(--text-light);
    width: 55vw;
    border-radius: var(--border-radius);
    border: 10px double var(--main-color-shade);
    padding: 20px;
    box-sizing: border-box;
    font-size: var(--p-size);
}

summary {
    cursor: pointer;
    display: flex;
    align-items: center;
}

details[open] summary {
    border-bottom: 2px solid var(--main-color-shade);
}

summary::before {
    content: url("./../assets/right-arrow.png");
    height: var(--p-size);
    transition: all .15s ease-in-out;
}

details[open] summary::before {
    transform: rotate(90deg);
}

.summary-title {
    display: inline-flex;
    align-items: center;
    width: 95%;
}


.todo-checkbox:checked {
    background-color: var(--main-color-shade);
}

.todo-title {
    margin: 0px auto 0px 20px;
}

.completed {
    text-decoration: line-through;
}

.description-section {
    display: flex;
    flex-direction: column;
}

.todo-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.desc-button {
    font-size: var(--p-size);
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    border: none;
    border-radius: var(--border-radius);
    font-weight: 700;
}

.desc-button:hover {
    filter: brightness(0.95);
    transform: scale(1.01);
}

.desc-button:active {
    transform: scale(0.99);
}

.complete-button {
    background-color: var(--sucess);
    color: var(--text-light);
}

.edit-button {
    background-color: var(--text-light);
    border: 2px solid var(--main-color-tint);
    color: var(--main-color);
}

.delete-button {
    background-color: var(--delete-color);
}

.todo-priority {
    margin-right: 20px;
    width: 100px;
    background-color: var(--main-color-tint);
    text-align: center;
    border-radius: var(--border-radius);
    padding: 2px 0px;
    font-weight: 700;
    color: black;
}

.Low-priority {
    background-color: var(--warning);
}

.Med-priority {
    background-color: var(--amber);
}

.High-priority {
    background-color: var(--delete-color);
    color: var(--text-light);
}