:root {
    --background: #e2e8f0;
    --main-color: #2563eb;
    --main-color-shade: #0f285e;
    --main-color-tint: #a8c1f7;
    --text-light: #f1f5f9;
    --hover-color: #3b82f6;
    --title-size: 4rem;
    --sub-title-size: 2rem;
    --p-size: 1.2rem;
    --border-radius: 10px;
    --grey: #334155;
    --delete-color: #ef4444;
    --sucess: #16a34a;
    --warning: #eab308;
    --amber: #ea580c;
}

ul {
    list-style: none;
}

body {
    height: 100vh;
    margin: 0px;
    background-color: var(--background);
}
.content {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.side-bar {
    background-color: var(--main-color);
}

.sidebar-wrapper {
    position: fixed;
    width: 25vw;
    top: 0;
    left: 0;
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 4fr;
    box-sizing: border-box;
}

.projects-Section {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.projects-Section > ul {
    padding: 0px;
    margin: 0px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects-Section li {
    background-color: var(--main-color-tint);
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px ;
    box-sizing: border-box;
}

.projects-Section li p {
    font-size: var(--p-size);
    color: var(--main-color-shade);
}

.projects-Section li img {
    height: 30px;
    width: auto;
    transition: all .1s ease;
}

.projects-Section li img:hover {
    height: 35px;
}

.add-project {
    height: 50px;
    width: clamp(100px, 40%, 250px);
    background-color: var(--main-color-tint);
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
}

.add-project:hover {
    background-color: var(--background);
    transform: scale(1.05);
}

.add-project img {
    height: 35px;
}

.add-project p {
    font-size: var(--p-size);
    color: var(--main-color-shade);
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 25px;
}

.sidebar-title {
    border-bottom: 2px solid var(--text-light);

}

.sidebar-title > p {
    font-size: var(--sub-title-size);
    color: var(--text-light);
    font-weight: 700;
    margin: 0;
}


.main {
    background-color: var(--background);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 4fr;
    justify-items: center;
}

.title-section {
    width: 100%;
    align-items: center;
}

.todo-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-bottom: 30px;
}

.title {
    width:  45%;
    color: var(--text-light);
    background-color: var(--main-color);
    text-align: center;
    height: 100px;
    font-size: 4rem;
    margin: 0px;
}

.add-todo {
    width: 25vw;
    height: 95px;
    background-color: var(--text-light);
    border: 5px solid var(--main-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    box-sizing: border-box;
    transition: all .1s ease;
}

.add-todo:hover, .add-todo:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover-color);
    transform: translateY(-0.25em);
}

.add-todo:active {
    transform: scale(0.95);
}

.add-todo-text {
    color: var(--main-color);
    font-size: var(--sub-title-size);
    margin: 0 auto;
    font-weight: 600;
}